.cards__grid, .cards_heading {
  gap: 2rem;
}

.cards__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cards_heading {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background-color: var(--bg-color);
  box-shadow: 0 0.28em 1em 0 var(--shadow-color);
  font-size: var(--header-font-size);
  padding: 0.8em 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  height: 100%;
  transition: transform 0.5s ease;
}

.cards_heading .card {
  font-size: 3rem;
  gap: 5.4em;
}

.card__header {
  transition: color 0.5s ease;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  font-family: var(--small-font);
  font-size: var(--text-font-size);
  line-height: 2.14;
  color: #767676;
}

.status__data {
  text-transform: capitalize;
  font-weight: 700;
}

.alive {
  color: #267504;
}

.dead {
  color: #820A0A;
}

.unknown {
  color: #bba212;
}

.date {
  text-align: end;
}

.cards__buttons {
  display: flex;
  gap: 2rem;
}

@media (hover:hover) {
  .card:hover {
    transform: translateY(-0.3em);
  }

  .card:hover .card__header {
    color: var(--accent-color);
  }
}

@media (max-width: 1200px) {
  .cards__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards_heading {
    grid-column-end: 3;
  }

  .cards_heading .card {
    font-size: 2.6rem;
  }
}

@media (max-width: 768px) {
  .cards_heading .card {
    font-size: var(--header-font-size);
    gap: 2em;
  }
}

@media (max-width: 480px) {
  .cards__grid, .cards_heading {
    gap: 1rem;
  }

  .cards__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .cards_heading {
    grid-template-columns: repeat(1, 1fr);
    grid-column-end: 2;
  }
}

@media (max-width: 320px) {
  .cards_heading .card, .card {
    align-items: center;
    text-align: center;
  }

  .card__footer {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  .card {
    padding: 1em 0.8em;
  }

  .status, .date {
    text-align: center;
  }

  .cards__buttons {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
}