.search__form {
  width: 100%;
}

.search {
  display: block;
  width: 32.6%;
  font-size: 2.2rem;
  line-height: 1.2;
  color: var(--accent-color);
  box-shadow: 0 0.318em 0.545em 0 var(--shadow-color);
  margin-inline: auto;
  border: 0;
  font-weight: 700;
  padding: 0.864em 1.136em;
}

.search::placeholder {
  color: var(--accent-color);
}