@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}

:root {
  --bg-color: #fff;
  --text-color: #282626;
  --shadow-color: #64646F33;
  --accent-color: #656EC2;
  --main-font: "Fira Sans", serif;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding-block: 10.7vh;
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

input {
  font-family: var(--main-font);
}

main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.header {
  margin-bottom: 7rem;
}

.container {
  width: 84%;
  max-width: 1596px;
  margin-inline: auto;
}

.btn {
  background-color: var(--bg-color);
  box-shadow: 0 0.28em 1em 0 var(--shadow-color);
  font-size: 2.5rem;
  border: 0;
  padding: 0.5em 1em;
  cursor: pointer;
}
