@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}

:root {
  --bg-color: #fff;
  --text-color: #282626;
  --shadow-color: #64646F33;
  --accent-color: #656EC2;
  --large-font: "Fira Sans", serif;
  --small-font: "Montserrat";
  --header-font-size: 2.5rem;
  --text-font-size: 1.4rem;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  min-height: 100vh;
  padding-block: 10.7vh;
  background-color: var(--bg-color);
  font-weight: 400;
  font-style: normal;
  color: var(--text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  line-height: 1;
  font-family: var(--large-font);
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

input {
  font-family: var(--large-font);
}

main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.header {
  margin-bottom: 7rem;
}

.container {
  width: 84%;
  max-width: 1596px;
  margin-inline: auto;
}

.btn {
  background-color: var(--bg-color);
  font-family: var(--large-font);
  box-shadow: 0 0.28em 1em 0 var(--shadow-color);
  font-size: var(--header-font-size);
  border: 0;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.5s ease;
  transition-property: color, transform;
}

@media (hover:hover) {
  .btn:hover {
    color: var(--accent-color);
    transform: translateY(-0.2em);
  }
}

@media (max-width: 1200px) {
  :root {
    --header-font-size: 2rem;
  }

  body {
    padding-block: 9vh;
  }
}

@media (max-width: 768px) {
  :root {
    --text-font-size: 1.2rem;
  }

  .header {
    margin-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  :root {
    --header-font-size: 1.8rem;
  }

  body {
    padding-block: 5vh;
  }

  .container {
    width: 90%;
  }
}

@media (max-width: 320px) {
  :root {
    --header-font-size: 9vw;
    --text-font-size: 6vw;
  }
}